<h1> AddressBook </h1>
<ul>
@foreach (var item in Model){
<li><a href ='/contact/@item.GetId()'>Name: @item.GetName() Phone: @item.GetPhoneNumber() Address: @item.GetAddress()</a></li>
}
</ul>
<br>
<a href='/contact/new'>Create New Contact</a>
