

<form action='/contact_added' method="post">
  <div class='form-group'>
    <label for='name'>Name</label>
    <input id='name' name='name' class='form-control' type='text'>
  </div>
  <div class='form-group btn-md'>
    <label for='phoneNumber'>Phone Number</label>
    <input id='phoneNumber' name='phoneNumber' class='form-control' type='text'>
  </div>
  <div class='form-group'>
    <label for='Address'>Address</label>
    <input id='address' name='address' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn btn-md btn-primary'>Add to my Contacts!</button>
</form>
<br>
